/* register.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.register-container input:focus {
  border-color:  #007bff
}

.register-container button {
  padding: 10px;
  background:  #17599f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-container button:hover {
  background:  #19528f;
}

.register-container a {
  display: block;
  margin-top: 1rem;
  color:  #007bff;
  text-decoration: none;
}

.register-container a:hover {
  text-decoration: underline;
}
